.iframe-container {
  width: 100%;
  height: calc(100vh - 60px);
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.loading-mask-container.maskDivHeight{
    position: fixed !important;
}